
<div *ngIf="store">
    <h2><span jhiTranslate="storeApp.store.detail.title">Store</span> {{store.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storeApp.store.name">Name</span></dt>
        <dd>
            <span>{{store.name}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.store.address">Address</span></dt>
        <dd>
            <span>{{store.address}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.store.inventoryid">Inventoryid</span></dt>
        <dd>
            <span>{{store.inventoryid}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.store.cashDesk">Cash Desk</span></dt>
        <dd>
            <div *ngIf="store.cashDesk">
                <a [routerLink]="['/cash-desk', store.cashDesk?.id]">{{store.cashDesk?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'store/'+ store.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
