
<div *ngIf="barCodeScanner">
    <h2><span jhiTranslate="storeApp.barCodeScanner.detail.title">Bar Code Scanner</span> {{barCodeScanner.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storeApp.barCodeScanner.model">Model</span></dt>
        <dd>
            <span>{{barCodeScanner.model}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.barCodeScanner.controller">Controller</span></dt>
        <dd>
            <div *ngIf="barCodeScanner.controller">
                <a [routerLink]="['/bar-code-scanner-controller', barCodeScanner.controller?.id]">{{barCodeScanner.controller?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bar-code-scanner/'+ barCodeScanner.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
