<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCashDeskLabel" jhiTranslate="storeApp.cashDesk.home.createOrEditLabel">Create or edit a Cash Desk</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cashDesk.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cashDesk.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.cashDesk.cardReaderid" for="field_cardReaderid">Card Readerid</label>
            <input type="number" class="form-control" name="cardReaderid" id="field_cardReaderid"
                [(ngModel)]="cashDesk.cardReaderid" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.cashDesk.printer" for="field_printer">Printer</label>
            <select class="form-control" id="field_printer" name="printer" [(ngModel)]="cashDesk.printer">
                <option [ngValue]="null"></option>
                <option [ngValue]="printerOption.id === cashDesk.printer?.id ? cashDesk.printer : printerOption" *ngFor="let printerOption of printers; trackBy: trackPrinterById">{{printerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.cashDesk.cashBox" for="field_cashBox">Cash Box</label>
            <select class="form-control" id="field_cashBox" name="cashBox" [(ngModel)]="cashDesk.cashBox">
                <option [ngValue]="null"></option>
                <option [ngValue]="cashBoxOption.id === cashDesk.cashBox?.id ? cashDesk.cashBox : cashBoxOption" *ngFor="let cashBoxOption of cashboxes; trackBy: trackCashBoxById">{{cashBoxOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.cashDesk.cashDeskGui" for="field_cashDeskGui">Cash Desk Gui</label>
            <select class="form-control" id="field_cashDeskGui" name="cashDeskGui" [(ngModel)]="cashDesk.cashDeskGui">
                <option [ngValue]="null"></option>
                <option [ngValue]="cashDeskGUIOption.id === cashDesk.cashDeskGui?.id ? cashDesk.cashDeskGui : cashDeskGUIOption" *ngFor="let cashDeskGUIOption of cashdeskguis; trackBy: trackCashDeskGUIById">{{cashDeskGUIOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.cashDesk.barCodeScanner" for="field_barCodeScanner">Bar Code Scanner</label>
            <select class="form-control" id="field_barCodeScanner" name="barCodeScanner" [(ngModel)]="cashDesk.barCodeScanner">
                <option [ngValue]="null"></option>
                <option [ngValue]="barCodeScannerOption.id === cashDesk.barCodeScanner?.id ? cashDesk.barCodeScanner : barCodeScannerOption" *ngFor="let barCodeScannerOption of barcodescanners; trackBy: trackBarCodeScannerById">{{barCodeScannerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.cashDesk.cashDeskApplication" for="field_cashDeskApplication">Cash Desk Application</label>
            <select class="form-control" id="field_cashDeskApplication" name="cashDeskApplication" [(ngModel)]="cashDesk.cashDeskApplication">
                <option [ngValue]="null"></option>
                <option [ngValue]="cashDeskApplicationOption.id === cashDesk.cashDeskApplication?.id ? cashDesk.cashDeskApplication : cashDeskApplicationOption" *ngFor="let cashDeskApplicationOption of cashdeskapplications; trackBy: trackCashDeskApplicationById">{{cashDeskApplicationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
