
<div *ngIf="cashDesk">
    <h2><span jhiTranslate="storeApp.cashDesk.detail.title">Cash Desk</span> {{cashDesk.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storeApp.cashDesk.cardReaderid">Card Readerid</span></dt>
        <dd>
            <span>{{cashDesk.cardReaderid}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.cashDesk.printer">Printer</span></dt>
        <dd>
            <div *ngIf="cashDesk.printer">
                <a [routerLink]="['/printer', cashDesk.printer?.id]">{{cashDesk.printer?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="storeApp.cashDesk.cashBox">Cash Box</span></dt>
        <dd>
            <div *ngIf="cashDesk.cashBox">
                <a [routerLink]="['/cash-box', cashDesk.cashBox?.id]">{{cashDesk.cashBox?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="storeApp.cashDesk.cashDeskGui">Cash Desk Gui</span></dt>
        <dd>
            <div *ngIf="cashDesk.cashDeskGui">
                <a [routerLink]="['/cash-desk-gui', cashDesk.cashDeskGui?.id]">{{cashDesk.cashDeskGui?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="storeApp.cashDesk.barCodeScanner">Bar Code Scanner</span></dt>
        <dd>
            <div *ngIf="cashDesk.barCodeScanner">
                <a [routerLink]="['/bar-code-scanner', cashDesk.barCodeScanner?.id]">{{cashDesk.barCodeScanner?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="storeApp.cashDesk.cashDeskApplication">Cash Desk Application</span></dt>
        <dd>
            <div *ngIf="cashDesk.cashDeskApplication">
                <a [routerLink]="['/cash-desk-application', cashDesk.cashDeskApplication?.id]">{{cashDesk.cashDeskApplication?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cash-desk/'+ cashDesk.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
