<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReceiptLabel" jhiTranslate="storeApp.receipt.home.createOrEditLabel">Create or edit a Receipt</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!receipt.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="receipt.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.receipt.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="receipt.date"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.receipt.paymentMode" for="field_paymentMode">Payment Mode</label>
            <select class="form-control" name="paymentMode" [(ngModel)]="receipt.paymentMode" id="field_paymentMode"  required>
                <option value="CASH">{{'storeApp.PaymentMode.CASH' | translate}}</option>
                <option value="CARD">{{'storeApp.PaymentMode.CARD' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.paymentMode?.dirty && editForm.controls.paymentMode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paymentMode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.receipt.runningTotal" for="field_runningTotal">Running Total</label>
            <input type="number" class="form-control" name="runningTotal" id="field_runningTotal"
                [(ngModel)]="receipt.runningTotal" required/>
            <div [hidden]="!(editForm.controls.runningTotal?.dirty && editForm.controls.runningTotal?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.runningTotal?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.runningTotal?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.receipt.customerid" for="field_customerid">Customerid</label>
            <input type="number" class="form-control" name="customerid" id="field_customerid"
                [(ngModel)]="receipt.customerid" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.receipt.cashBox" for="field_cashBox">Cash Box</label>
            <select class="form-control" id="field_cashBox" name="cashBox" [(ngModel)]="receipt.cashBox" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cashBoxOption.id === receipt.cashBox?.id ? receipt.cashBox : cashBoxOption" *ngFor="let cashBoxOption of cashboxes; trackBy: trackCashBoxById">{{cashBoxOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
