
<div *ngIf="cardReader">
    <h2><span jhiTranslate="storeApp.cardReader.detail.title">Card Reader</span> {{cardReader.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storeApp.cardReader.model">Model</span></dt>
        <dd>
            <span>{{cardReader.model}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.cardReader.controller">Controller</span></dt>
        <dd>
            <div *ngIf="cardReader.controller">
                <a [routerLink]="['/card-reader-controller', cardReader.controller?.id]">{{cardReader.controller?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="storeApp.cardReader.acquiringBank">Acquiring Bank</span></dt>
        <dd>
            <div *ngIf="cardReader.acquiringBank">
                <a [routerLink]="['/acquiring-bank', cardReader.acquiringBank?.id]">{{cardReader.acquiringBank?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'card-reader/'+ cardReader.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
