
<div *ngIf="stockItem">
    <h2><span jhiTranslate="storeApp.stockItem.detail.title">Stock Item</span> {{stockItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storeApp.stockItem.amount">Amount</span></dt>
        <dd>
            <span>{{stockItem.amount}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.stockItem.minStock">Min Stock</span></dt>
        <dd>
            <span>{{stockItem.minStock}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.stockItem.maxStock">Max Stock</span></dt>
        <dd>
            <span>{{stockItem.maxStock}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.stockItem.product">Product</span></dt>
        <dd>
            <div *ngIf="stockItem.product">
                <a [routerLink]="['/product', stockItem.product?.id]">{{stockItem.product?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="storeApp.stockItem.inventory">Inventory</span></dt>
        <dd>
            <div *ngIf="stockItem.inventory">
                <a [routerLink]="['/inventory', stockItem.inventory?.id]">{{stockItem.inventory?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stock-item/'+ stockItem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
