<div>
    <h2>
        <span jhiTranslate="storeApp.receiptItem.home.title">Receipt Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-receipt-item" [routerLink]="['/', { outlets: { popup: ['receipt-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="storeApp.receiptItem.home.createLabel">
            Create new Receipt Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="receiptItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="storeApp.receiptItem.productBarCode">Product Bar Code</span></th>
            <th><span jhiTranslate="storeApp.receiptItem.productSalesPrice">Product Sales Price</span></th>
            <th><span jhiTranslate="storeApp.receiptItem.productName">Product Name</span></th>
            <th><span jhiTranslate="storeApp.receiptItem.receipt">Receipt</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receiptItem of receiptItems ;trackBy: trackId">
                <td><a [routerLink]="['../receipt-item', receiptItem.id ]">{{receiptItem.id}}</a></td>
                <td>{{receiptItem.productBarCode}}</td>
                <td>{{receiptItem.productSalesPrice}}</td>
                <td>{{receiptItem.productName}}</td>
                <td>
                    <div *ngIf="receiptItem.receipt">
                        <a [routerLink]="['../receipt', receiptItem.receipt?.id ]" >{{receiptItem.receipt?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../receipt-item', receiptItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'receipt-item/'+ receiptItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'receipt-item/'+ receiptItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
