<h2>My Cash Desk</h2>
</br>
<jhi-my-cash-box></jhi-my-cash-box>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      <jhi-my-desk-gui></jhi-my-desk-gui>
      </br></br>
      <jhi-my-printer></jhi-my-printer>
    </div>
    <div class="col-sm">
      <jhi-my-cash-box></jhi-my-cash-box>
    </div>
    <div class="col-sm">
      <jhi-my-barcode-scanner></jhi-my-barcode-scanner>
      </br></br>
      <jhi-my-card-reader></jhi-my-card-reader>
    </div>
  </div>
</div> -->




