<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDebitLabel" jhiTranslate="storeApp.debit.home.createOrEditLabel">Create or edit a Debit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!debit.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="debit.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.debit.pin" for="field_pin">Pin</label>
            <input type="number" class="form-control" name="pin" id="field_pin"
                [(ngModel)]="debit.pin" required/>
            <div [hidden]="!(editForm.controls.pin?.dirty && editForm.controls.pin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pin?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.pin?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.debit.cardNumber" for="field_cardNumber">Card Number</label>
            <input type="number" class="form-control" name="cardNumber" id="field_cardNumber"
                [(ngModel)]="debit.cardNumber" required/>
            <div [hidden]="!(editForm.controls.cardNumber?.dirty && editForm.controls.cardNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cardNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cardNumber?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.debit.validityDate" for="field_validityDate">Validity Date</label>
            <div class="d-flex">
                <input id="field_validityDate" type="datetime-local" class="form-control" name="validityDate" [(ngModel)]="debit.validityDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.validityDate?.dirty && editForm.controls.validityDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.validityDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.validityDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.debit.customerid" for="field_customerid">Customerid</label>
            <input type="number" class="form-control" name="customerid" id="field_customerid"
                [(ngModel)]="debit.customerid" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.debit.issuingBank" for="field_issuingBank">Issuing Bank</label>
            <select class="form-control" id="field_issuingBank" name="issuingBank" [(ngModel)]="debit.issuingBank" >
                <option [ngValue]="null"></option>
                <option [ngValue]="issuingBankOption.id === debit.issuingBank?.id ? debit.issuingBank : issuingBankOption" *ngFor="let issuingBankOption of issuingbanks; trackBy: trackIssuingBankById">{{issuingBankOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
