
<div *ngIf="acquirer">
    <h2><span jhiTranslate="storeApp.acquirer.detail.title">Acquirer</span> {{acquirer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storeApp.acquirer.name">Name</span></dt>
        <dd>
            <span>{{acquirer.name}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.acquirer.address">Address</span></dt>
        <dd>
            <span>{{acquirer.address}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.acquirer.network">Network</span></dt>
        <dd>
            <div *ngIf="acquirer.network">
                <a [routerLink]="['/network', acquirer.network?.id]">{{acquirer.network?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'acquirer/'+ acquirer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
